Package: hidcomp
Source: hidcomp
Version: 1.1
Section: misc
Priority: extra
Architecture: i386
Depends:
Recommends: 
Enhances: emc2
Suggests: 
Installed-Size: 200000
Maintainer: Frank Tkalcevic <ftkalcevic@franksworkshop.com.au>
Conflicts:
Replaces: 
Provides: 
Description: USB HID (Human Interface Device) interface component for EMC
 USB HID (Human Interface Device) interface component for EMC.  Supports 
 standard axis and buttons.  Also supports encoder inputs, LED outputs and 
 LCD outputs.

